/*Reset basico para consistencia entre navegadores! */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: rgb(184, 173, 233);
    color: rgb(0, 0, 0);
}
.site-header{
    background-color: rgb(157, 236, 230);
    color: beige;
    padding: 1rem 0;
    text-align: center;
}
.site-title{
    margin-bottom: 10px;
    font-size: 2em;
}
.main-nav .nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.main-nav{
    margin: 0 15px;
}
.main-nav .nav-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
.main-nav .lav-link:hover{
    color: rgb(255, 255, 255);
}

/* Conteúdo Principal */
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.article{
    flex: 3;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px hwb(266 7% 13%); 
    border-radius: 5px;
}
.article-header{
    border-bottom: 2px solid #8f09e9;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.article-title{
    color: #8f09e9;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.article-meta{
    color: #8f09e9;
    font-size: 0.9em;
}
.article-section{
    margin-bottom: 20px;
}
.section-title{
    font-size: 1.4em;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    line-height: 1.0;
}
.image-figure{
    margin-top: 20px 0;
}
.article-image{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.image-caption{
    text-align: center;
    font-size: 0.10px;
    color: black;
    margin-top: 5px;
}
.sidebar{
    flex: 1;
    background-color: rgb(157, 135, 236);
    padding: 20px;
    box-shadow: 0 2px 4px;
    border-radius: 5px;
}
.sidebar-title{
    font-size: 1.6em;
    color: black;
    margin-bottom: 10px;
}
.sidebar-text{
    color: black;
    line-height: 1.5;
}
.site-footer{
    background-color: rgb(159, 145, 240);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.contact-info{
    margin-bottom: 10px;
}
.author-name,
.author-email {
    color: #8f09e9;
    text-decoration: none;
    transition: color 0.3s;
}
.email-link:hover {
    color: aliceblue;
}
.footer-copy {
    font-size: 0.9em;
    color: aliceblue;
}